# Python
*.pyc
__pycache__/
.Python
env/
venv/
pip-log.txt
pip-delete-this-arg.txt
.tox/
.coverage
.eggs/
*.egg-info/

# Django-specific files
*.log
*.pot
db.sqlite3
media/ # Or specific subdirectories within media/ if you want to ignore user-uploaded files
static/ # Or specific subdirectories within static/ if you manage static files with a build process
local_settings.py # Or any other file containing local/sensitive settings

# IDE-specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Other temporary files
*~
*.swp