asgiref==3.9.2
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2.6
django-braces==1.17.0
django-debug-toolbar==6.0.0
django-embed-video==1.4.10
django-redisboard==9.0.0
djlint==1.36.4
EditorConfig==0.17.1
idna==3.10
jsbeautifier==1.15.4
json5==0.12.1
pathspec==0.12.1
pillow==11.3.0
pymemcache==4.0.0
PyYAML==6.0.3
redis==6.4.0
regex==2025.9.18
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
urllib3==2.5.0
